*.tfstate
*.tfstate.*
crash.log
*.tfplan
*.override.tf
*.override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
*.log
*.bak
*.tmp
.terragrunt-cache/
